
/*	===============================
	Style import
	=============================== */
@import "@{templateCommon}/basekit-bootstrap.less";


/*	===============================
	Globals
	=============================== */

::-moz-selection { background-color: fade(@color-swatch3, 85%); }
::selection { background-color: fade(@color-swatch3, 85%); }

body {
	background-color: @color-swatch1;
	background-size: 100% auto;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	background-repeat:no-repeat;
	background-size:cover;
	border-top:15px solid @color-swatch4;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    @media only screen and (min-width: 1140px) {
        width: 1024px;
        margin: 0 auto;
    }
}

.textbox {
	padding:80px;
	text-align:center;
}

.canvas {
	padding: 3em 0;
	clear: both;
	.widget {
		clear: both;
	}
}

/*	===============================
	Header
	=============================== */

.bk-header {
	background-color:@color-swatch1;
	padding: 30px 0px 65px;
	margin-bottom:30px;
}

.widget.logo {
	float:left;
}

.companyname {
	float:left;
}

.widget.companyname a {
	font-weight:700;
}

/*	===============================
	Extended Navigation
	=============================== */

.widget.extendednavigation {
	float:right;
	position: relative;
	z-index: 5000;
	padding: 20px 0px;
}

.widget .extendednavigation a.pull {
	width: 26px;
	height: 20px;
}

.widget .extendednavigation ul li:hover ul {
	background-color:@color-swatch3;
}

.widget .extendednavigation ul li.folder:after {
	border-top-color:@color-swatch3;
}

.widget .extendednavigation ul li a:hover, .widget .extendednavigation ul li.folder .text:hover {
	background-color: @color-swatch4;
	color: @font-swatch7-color;
}

.widget .extendednavigation ul li a, .widget .extendednavigation li > .text {
	padding: 5px 20px;
}


/*	===============================
	Blog
	=============================== */

.blog-list-footer {
	margin: 0px auto;
	display: table;
	padding: 20px 0px 40px 0px;
	a {
		margin: 0 50px;
	}
}

.blog-post-item {
	padding-bottom: 40px;
	padding-top: 10px;
	clear: both;
}

.blog-post-list .blog-post-item {
	text-shadow: 0 0 8px @color-swatch1;
	position: relative;
	margin-bottom: 40px;
	background-color:darken(@color-swatch1,5%);
	margin:20px 0px;
	border-bottom:5px solid lighten(@color-swatch5,20%);
	> * {
		position: relative;
		z-index: 1;
		max-width: 600px;
		margin-left: 45%;
		margin-right: 5%;
	}
} 

.blog-post-list .blog-post-feature-image-wrap {
	background-image: image('/images/dark.jpg');
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 50%;
	margin-right: -5%;
	margin-left: 0px;
	float: left;
	z-index: 0;
	&:after {
		display: block;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.widget.blogsearch {
	display:block;
	clear:both;
	label {
		height: 0;
		text-indent: -200px;
		overflow: hidden;
		padding-top: 0;
	}
	input[type=search], input[type=search]:focus {
		width: 70%;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid darken(@color-swatch1, 10%);
		padding: 8px 0px 3px 0px;
		margin-right: -3px;
	}
	button, button:hover {
		border-radius: 0;
		border: none;
		background-image: image('/images/icon-search.png');
		background-size: 18px 18px;
		background-position: right center;
		background-repeat: no-repeat;
		border-bottom: 1px solid darken(@color-swatch1, 10%);
	}
}
.svg .widget.blogsearch button {
	background-image: image('/images/icon-search.svg');
}

.blog-search-submit-button {
	padding: 7px 14px!important;
}

.main .blog-post-metadata {
	border-top: 1px solid darken(@color-swatch1, 10%);
	width:100%;
	padding-top:20px;
}
.main .blog-post-metadata, .main .blog-post-date {
	float: left;
	margin-top: 20px;
	text-decoration: none;
	color: lighten(@font-swatch5-color, 20%);
	time, p {
		font-family:@font-swatch5-font-family; 
		font-weight: @font-swatch5-font-weight; 
		color:@font-swatch4-color; 
		line-height:@font-swatch5-line-height; 
		letter-spacing: @font-swatch5-letter-spacing; 
		font-size: @font-swatch5-font-size;
	}
}

.main .blog-post-date {
	&:hover {
		text-decoration: underline;
	}
}

.blogpost-page .blog-post-feature-image-wrap {
	height: 350px;
	margin-bottom: 18px;
}

.main .blog-post-metadata, .main .blog-post-date {
	margin-bottom:110px;
}

.blog-post-title {
	margin-top:40px;
	margin-bottom:10px;
	a {
		color:@font-swatch4-color;
	}
}

.blogpost, .blog-post-list {
   .blog-post-feature-image-wrap {
       line-height: 0;
       background-size: cover;
       background-position: center;
       width: 40%;
       img {
           display: none;
       }
   }
}

.widget.blogpost .blog-post-feature-image-wrap {
	width:100%;
	height:400px;
}

.blog-search-input {
	border-radius:0;
	border:0;
}

.blog-search-submit-button {
	padding:4px 14px 8px 14px;
	background-color:@color-swatch3;
	border:0;
	margin-bottom:10px;
	font-family:@font-swatch7-font-family; 
	font-weight: @font-swatch7-font-weight; 
	color:@font-swatch7-color; 
	line-height:@font-swatch7-line-height; 
	letter-spacing: @font-swatch7-letter-spacing; 
	font-size: @font-swatch7-font-size;
		&:hover {
		background-color: lighten(@color-swatch3,10%);
		border: none;
	}
}

/*	===============================
	Menu sections
	=============================== */

.widget.menusections ul {
	padding: 1.5em 0 1em;
	margin: 3em 0;
	list-style: none;
	border-top: 1px solid @color-swatch5;
	border-bottom: 1px solid @color-swatch5;
	float: left;
	width: 100%;
}

/*	===============================
	Menu
	=============================== */

.dietary-icon {
	border:1px solid @color-swatch5!important;
	padding:5px;
}

.menu .menu-subsection {
	padding: 4% 0;
}

p.menu-note {
border-bottom: 1px solid @color-swatch5;
margin-bottom: 3em;
}

.menu-item-promoted {
	background-color: darken(@color-swatch1,3%);
	padding:20px!important;
}

.menu-subsection-wrapper.menu-subsection-promoted {
	background-color: darken(@color-swatch1,3%);
	padding:40px;
}

.main.wrapper {
	width:100%;
}

.menu-item-image-wrap {
    height: 200px;
    margin: 1em 0;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    img {
        display: none;
        border: none;
    }
}

/*	===============================
	Ecom
	=============================== */
.widget.ecomcheckout .delivery select {
	-webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    outline: none !important;
    -moz-outline-style: none;
    border: 1px solid @color-swatch5, 25%;
    position: relative;
    background: transparent;
    padding: 10px 23px 10px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-image: image('/images/arrow.png');
    background-position: right 6% center;
    background-repeat: no-repeat;
    border: 0;
    background-color: darken(@color-swatch1,3%);
    background-position-x: 99%;
    background-position-y: 53%;
}

select {
    -webkit-appearance: none;
    -moz-appearance: window;
    appearance: none;
    outline: none !important;
    -moz-outline-style: none;
    border: 1px solid @color-swatch5, 25%;
    position: relative;
    background: transparent;
    padding: 10px 23px 10px 10px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background-image: image('/images/arrow.png');
    background-position: right 6% center;
    background-repeat: no-repeat;
    border: 0;
    background-color: darken(@color-swatch1,3%);
    background-position-x: 95%;
    background-position-y: 53%;
}

select::-ms-expand {
   display: none;
}
.widget.ecomproduct .ecom-product .ecom-product-info .ecom-product-variation select,
   select {
   -moz-appearance: none;
   text-indent: 0.01px
   ;
   text-overflow: '';
}

.widget.ecomcheckout {
	margin:30px 0px;
}

.checkout-empty-link.btn {
	padding:10px;
	a:hover {
		text-decoration: none;
		background-color:lighten(@color-swatch3,10%);
	}
}

/*	===============================
	Bootstrap Modifications
	=============================== */

input, textarea {
	border:0;
	background-color: darken(@color-swatch1,3%);
}

.widget.profile form fieldset input {
	background-color: darken(@color-swatch1,3%);
}

.widget.profile form button {
	padding: 7px 14px 11px;
}

.widget.button button {
	&:hover{
		background-color:lighten(@color-swatch3,5%);
	}
}

.widget.responsiveslideshow .slideshow-widget .btn-play {
	height:50px;
}

.widget.responsiveslideshow .slideshow-widget .btn-prev, .widget.responsiveslideshow .slideshow-widget .btn-next {
	padding:5px;
	background-color:#ddd;
}

.signupform fieldset input {
	width:80%;
	text-indent:5px;
}

.signupform fieldset button {
	padding:20px 14px 24px 14px;
	line-height:0;
}

.widget.responsiveslideshow .title, .widget.responsiveslideshow .description {
	color:@font-swatch5-color;
}

.widget.paypalbuynow .widget.button.paypal {
	border-radius:0;
}

.widget.profile form button {
	padding: 7px 14px 11px 14px;
}

.widget.feature .feature-bgimg .content .spare {
	padding-left:40px;
}

/*	===============================
	Footer
	=============================== */

.bk-footer {
	background-color: @color-swatch4;
	padding: 10px 0px;
}

.widget.profile {
	margin: 0px auto;
	display: table;
	color:@font-swatch7-color;
}

.widget.profile p, .widget.profile a {
	color:@font-swatch7-color;
}

footer .widget.profile .bk-profile-socialicons span a:hover {
	background-color:lighten(@color-swatch4,10%);
}

/*	===============================
	Media queries
	=============================== */
@media only screen and (max-width: 768px) {
	.widget .extendednavigation ul li {
		border:0;
		padding:0;
	}
	.widget.extendednavigation {
		width:100%;
	}
	.widget.extendednavigation .bk-overlay {
		width: 40px!important;
		left: inherit !important;
		top: -50px!important;
		height:30px;
	}
	.widget .extendednavigation ul {
		padding-top:0;
	}
	.textbox {
		padding: 0px 0px 50px 0px;
	}
	.blog-post-feature-image-wrap {
		width: 100%;
	}
	.blog-post-list {
	.blog-post-feature-image-wrap {
		position: relative;
		margin: 0;
		height: 200px;
		width: 100%;
		float: none;
		margin-bottom: 10px;
		&:after {
			display: none;
		}
	}
	.blog-post-item > * {
		margin-right: 0;
		max-width: 100%;
	}
	}
	.blogpost-page .blog-post-feature-image-wrap {
		height: 250px;
	}
	.blog-post-list .blog-post-item > * {
		margin-left:0;
	}
	.blog-post-title {
		margin-top:0;
	}
	.main .blog-post-date {
		margin-bottom:20px;
	}
	.blog-post-list .blog-post-item {
		padding:0;
	}
	.blog-post-title, .blog-post-summary, .blog-post-more-link, .blog-post-date {
		padding:0px 20px;
	}
	.widget .extendednavigation ul li:hover ul {
		margin:0;
	}
	.blog-post-body {
		padding:0px 20px;
	}
	.widget.blogpost .blog-post-title {
		padding:0;
	}
	select {
		width:100%;
	}
}

@media only screen and (max-width: 480px) {
	.search-term {
		display:block;
	}
	.blog-search-input {
		width:60%;
	}
	.menu-subsection-header h2, .ecom-productlist-info h2 {
		font-size: bkscale(@font-swatch2-font-size, 0.7);
        line-height: bkscale(@font-swatch2-line-height, 0.7);
	}
	.widget.ecomcheckout table tr td .checkout-quantitybtn span {
		width: 30px;
	}
	.widget.ecomcheckout table tr td .checkout-quantitybtn button {
		width: 35px;
		height: 35px;
	}
	.blog-post-item.has-image {
		padding-bottom: 20px;
	}
	.blog-post-title {
		padding-top: 20px;
	}
	.textbox {
		padding: 0px 0px 30px 0px;
	}
	.widget.blogsearch input[type=search] {
		width:50%;
	}
	.widget.companyname a {
		font-size:bkscale(@font-swatch10-font-size, 0.9);
		line-height: bkscale(@font-swatch10-line-height, 0.9);
	}
	.widget.responsiveslideshow .slideshow-widget .btn-play {
		width: 15%;
		left: 43%;
	}
	.widget.companyname {
		max-width:230px;
	}
}
